package widgets

import "demo/go-fiber/views/components"

templ LoginForm() {
    <div style="display: contents" hx-ext="response-targets">
        @LoginFormStyle()
        <div id="login-result"></div>
        <form
            class="login-form"
            hx-post="/api/login"
            hx-trigger="submit"
            hx-target-error="#login-result"
            hx-swap="innerHTML swap:.2s"
        >
            @components.Input(components.InputProps{
                Name: "login",
                Placeholder: "Login",
                Type: "text",
            })
            @components.Input(components.InputProps{
                Name: "password",
                Placeholder: "Password",
                Type: "password",
            })
            @components.SubmitButton() {
                <div class="vacancy-button-text">Login</div>
                <div class="vacancy-loader"></div>
            }
        </form>
    </div>
}

templ LoginFormStyle() {
    <style>
        .login-form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
            max-width: 520px;
            width: 100%;
        }
        .login-form input {
            align-self: stretch;
        }
    </style>
}