package widgets

import "demo/go-fiber/internal/vacancy"
import "demo/go-fiber/views/components"

templ VacancyList(vacancies []vacancy.Vacancy) {
    @VacancyListStyle()
    <div class="vacancy-list">
        for _, vacancy := range vacancies {
            @components.VacancyCard(components.VacancyCardProps{
                Createdat: vacancy.CreatedAt,
                Role: vacancy.Role,
                Email: vacancy.Email,
                Company: vacancy.Company,
                Salary: vacancy.Salary,
                CompanyType: vacancy.Type,
                Location: vacancy.Location,
            })
        }
    </div>
}

templ VacancyListStyle() {
    <style>
        .vacancy-list {
            display: flex;
            align-items: center;
            gap: 24px;
            flex-direction: column;
            width: 100%;
        }
    </style>
}
