package widgets

import "demo/go-fiber/internal/vacancy"
import "demo/go-fiber/views/components"
import "fmt"

templ VacancyList(vacancies []vacancy.Vacancy, pagesCount int, currentPage int) {
    @VacancyListStyle()
    <div class="vacancy-list">
        for _, vacancy := range vacancies {
            @components.VacancyCard(components.VacancyCardProps{
                Createdat: vacancy.CreatedAt,
                Role: vacancy.Role,
                Email: vacancy.Email,
                Company: vacancy.Company,
                Salary: vacancy.Salary,
                CompanyType: vacancy.Type,
                Location: vacancy.Location,
            })
        }
    </div>
    <div>
    if currentPage != 1 {
        <a href={templ.SafeURL(fmt.Sprintf("?page=%d", currentPage - 1))}>Previous</a>
    }
    if currentPage != pagesCount {
        <a href={templ.SafeURL(fmt.Sprintf("?page=%d", currentPage + 1))}>Next</a>
    }
    </div>
}

templ VacancyListStyle() {
    <style>
        .vacancy-list {
            display: flex;
            align-items: center;
            gap: 24px;
            flex-direction: column;
            width: 100%;
        }
    </style>
}
