package components

type InputProps struct {
    Name string
    Placeholder string
}

templ Input(props InputProps) {
    @InputStyle()
    <input class="input" type="text" placeholder={props.Placeholder} name={props.Name} />
}

templ InputStyle() {
    <style>
        .input {
            height: 80px;
            width: 100%;
            align-self: stretch;
            padding: 20px;
            border-radius: 20px;
            background: var(--color-white);
            border: none;
        }
        .input::placeholder {
            color: var(--color-gray);
        }
    </style>
}