package components

type NotificationStatus string

const (
    notificationSuccess NotificationStatus = "success"
    notificationFail NotificationStatus = "fail"
)



templ Notification(message string, status NotificationStatus) {
    @NotificationStyle()
    <div class={
        "notification",
        templ.KV("notification-success", status == notificationSuccess),
        templ.KV("notification-fail", status == notificationFail),
        }>{message}</div>
}

templ NotificationStyle() {
    <style>
        .notification {
            width: fit-content;
            margin: 10px auto;
            opacity: 1;
            border-radius: 20px;
            padding: 15px;
            font-size: 16px;
            color: var(--color-white);
        }
        .notification-success {
            background: #31b4a3;
        }
        .notification-fail {
            background: #ab2828;
        }
        .htmx-swapping .notification {
            opacity: 0;
            transition: opacity .2s ease-out;
        }
    </style>
}