package components

type NotificationStatus string

const (
    notificationSuccess NotificationStatus = "success"
    notificationFail NotificationStatus = "fail"
)



templ Notification(message string, status NotificationStatus) {
    @NotificationStyle()
    <div class={
        "notification",
        templ.KV("notification-success", status == notificationSuccess),
        templ.KV("notification-fail", status == notificationFail),
        }>{message}</div>
}

templ NotificationStyle() {
    <style>
        .notification {
            width: 100%;
            padding: 30px;
            font-size: 16px;
            color: var(--color-white);
        }
        .notification-success {
            background: #31b4a3;
        }
        .notification-fail {
            background: #ab2828;
        }
    </style>
}