package components

templ SubmitButton() {
    @SubmitButtonStyle()
    <button class="submit-button" >{children...}</button>
}

templ SubmitButtonStyle() {
    <style>
        .submit-button {
            grid-column: span 2;
            width: fit-content;
            height: 80px;
            justify-self: center;
            border-radius: 20px;
            color: var(--color-white);
            text-decoration: none;
            padding: 14px 28px;
            border: 0;
            background-color: var(--color-green-primary);
            font-size: 16px;
            font-weight: 600;
            cursor: pointer;
        }
        .submit-button:hover {
            background-color: var(--color-green-primary-hover);
        }
    </style>
}