package components

type Title2Props struct {
    Title string
}

templ Title2(props Title2Props) {
    @Title2Style()
    <h2 class="title-2">{props.Title}</h2>
}

templ Title2Style() {
    <style>
        .title-2 {
            color: var(--color-black);
            font-weight: bold;
            font-size: 50px;
            margin: 0;
        }
    </style>
}