package views

import "demo/go-fiber/views/components"
import "demo/go-fiber/views/layout"
import "demo/go-fiber/views/widgets"
import "demo/go-fiber/internal/vacancy"

templ Main(vacancies []vacancy.Vacancy, pagesCount int, currentPage int) {
    @layout.Layout(layout.LayoutProps{
        Title: "Find a dream job",
        MetaDescription: "Website for job search",
    }) {
        <main>
            @layout.Header() {
                @widgets.Menu() {
                    @components.Link("Login", "/login")
                    @components.LinkButton("Registration", "/register")
                }
                @components.Title(components.TitleProps{
                    Title: "Find your dream job",
                })
                @components.Subtitle(components.SubtitleProps{
                    Subtitle: "Easy way to use",
                })
            }
            @layout.VacancyList(){
                @layout.Title2(){
                    @components.Title2(components.Title2Props{
                        Title: "Last vacancies",
                    })
                    @components.Subtitle2(components.Subtitle2Props{
                        Subtitle: "Find your relative job in minutes!",
                    })
                }     
                @widgets.VacancyList(vacancies, pagesCount, currentPage)
            }
            @layout.Vacancy(){
                @layout.Title2(){
                    @components.Title2(components.Title2Props{
                        Title: "Publish Vacancy",
                    })
                    @components.Subtitle2(components.Subtitle2Props{
                        Subtitle: "Fill up Vacancy data below",
                    })
                }
                @widgets.VacancyForm()
            }
        </main>
    }
}