package views

import "demo/go-fiber/views/components"
import "demo/go-fiber/views/layout"

templ Main() {
    @layout.Layout(layout.LayoutProps{
        Title: "Find a dream job",
        MetaDescription: "Website for job search",
    }) {
        <main>
            @layout.Header() {
                @components.Title(components.TitleProps{
                    Title: "Find your dream job",
                })
                @components.Subtitle(components.SubtitleProps{
                    Subtitle: "Easy way to use",
                })
            }
            @layout.NewJobPost(){
                @layout.Title2(){
                    @components.Title2(components.Title2Props{
                        Title: "Publish job post",
                    })
                    @components.Subtitle2(components.Subtitle2Props{
                        Subtitle: "Fill up Job Post data below",
                    })
                }
                @components.Form(){
                    @components.Input(components.InputProps{
                        Title: "Job Title",
                        Name: "job_title",
                        Placeholder: "Job Title",
                    })
                    @components.Input(components.InputProps{
                        Title: "Company",
                        Name: "company",
                        Placeholder: "Company",
                    })
                    @components.Input(components.InputProps{
                        Title: "Company scope",
                        Name: "company_scope",
                        Placeholder: "Company scope",
                    })
                    @components.Input(components.InputProps{
                        Title: "Salary",
                        Name: "salary",
                        Placeholder: "Salary",
                    })
                    @components.Input(components.InputProps{
                        Title: "Location",
                        Name: "location",
                        Placeholder: "Location",
                    })
                    @components.Input(components.InputProps{
                        Title: "Email",
                        Name: "email",
                        Placeholder: "Email",
                    })
                    @components.SubmitButton(){
                        Publish Job Post
                    }
                }
            }
        </main>
    }
}