:root {
    --color-dark: #333;
    --color-gray: #555;
    --color-white: #fff;
    --color-green-primary: #309689;
    --color-green-primary-hover: #26786D;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-gray);
    color: var(--color-white);
    font-family: "Roboto", sans-serif;
}

* {
    box-sizing: border-box;
}