package layout

import "fmt"

css headerClass(percent int) {
    background: { templ.SafeCSSProperty("var(--color-dark)") };
    color: { templ.SafeCSSProperty("var(--color-white)") };
    width: { fmt.Sprintf("%d%%", percent) };
    gap: { "12px" };
}

templ Header() {
    <section class={headerClass(100)}>
        { children... }
    </section>
}