package layout


type LayoutProps struct {
    Title string
    MetaDescription string
}

templ Layout(props LayoutProps) {
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{props.Title}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content={props.MetaDescription} />
        <meta property="og:title" content={props.Title} />
        <meta property="og:description" content={props.MetaDescription} />
        <meta property="og:image" content="../../static/favIcons/Fav.png" />

        <link rel="icon" type="image/png" href="../../static/favIcons/favicon-32x32.png">
        <link rel="apple-touch-icon" sizes="48x48" href="../../static/favIcons/favicon-48x48.png">
        <link rel="apple-touch-icon" sizes="72x72" href="../../static/favIcons/favicon-72x72.png">
        <link rel="apple-touch-icon" sizes="96x96" href="../../static/favIcons/favicon-96x96.png">
        <link rel="apple-touch-icon" sizes="256x256" href="../../static/favIcons/favicon-256x256.png">
        <link rel="apple-touch-icon" sizes="384x384" href="../../static/favIcons/favicon-384x384.png">
        <link rel="apple-touch-icon" sizes="512x512" href="../../static/favIcons/favicon-512x512.png">
        <link rel="manifest" href="../../static/favIcons/manifest.webmanifest" crossorigin="anonymous">

        <link rel="stylesheet" href="/static/styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.js" integrity="sha384-ezjq8118wdwdRMj+nX4bevEi+cDLTbhLAeFF688VK8tPDGeLUe0WoY2MZtSla72F" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/htmx-ext-response-targets@2.0.4" integrity="sha384-T41oglUPvXLGBVyRdZsVRxNWnOOqCynaPubjUVjxhsjFTKrFJGEMm3/0KGmNQ+Pg" crossorigin="anonymous"></script>
        <script src="/static/app.js"></script>
    </head>
    <body>
        { children... }
    </body>
    </html>
}