package layout


templ Vacancy() {
    <style>
        [data-vacancy] div {
            align-items: center;
            text-align: center;
        }
    </style>
    <section data-vacancy class={VacancyClass()}>
        { children... }
    </section>
}

css VacancyClass() {
    background: { templ.SafeCSSProperty("var(--color-dark-aqua)") };
    gap: { "60px" };
    padding: { "60px 0 120px"};
}