package layout


templ Vacancy() {
    <section class={VacancyClass()}>
        { children... }
    </section>
}

css VacancyClass() {
    background: { templ.SafeCSSProperty("var(--color-dark-aqua)") };
    gap: { "60px" };
    padding: { "60px 0 120px"};
}